---
import { Image } from "astro:assets";
import Container from "@/components/primitives/Container.astro";
import Link from "@/components/primitives/Link.astro";
import Prose from "@/components/primitives/Prose.astro";
import Share from "@/components/primitives/Share.astro";
import Title from "@/components/primitives/Title.astro";
import { defaultLocale } from "site";
import BaseLayout from "./BaseLayout.astro";
import { Icon } from "astro-icon/components";

type Props = {
	competitionData:any
};

const currentLocale = Astro.currentLocale;

interface PostLayoutLocale {
	writtenBy: string;
	writtenAt: string;
}

interface ComponentLocales {
	[key: string]: PostLayoutLocale;
}

const componentLocales: ComponentLocales = {
	it: {
		writtenBy: "Scritto da: ",
		writtenAt: "nel",
	},
	en: {
		writtenBy: "Written by: ",
		writtenAt: "on",
	},
};

const l = componentLocales[currentLocale ?? defaultLocale];

const { competitionData } = Astro.props;
---

<BaseLayout>
	<section class="py-32 md:py-56">
		<Container>
			<div class="text-center">
				{
						competitionData?.author &&
						competitionData?.pubDate && (
							<div class="inline-flex items-center gap-4 pb-4 lg:pb-6">
								<span class="text-xs font-semibold uppercase tracking-wide text-black">
									<span>
										{l.writtenBy} {competitionData?.author?.name}
										{l.writtenAt}
									</span>
									{competitionData?.pubDate
										?.toString()
										.slice(0, 10)}
								</span>
							</div>
						)
				}

				<Title level={1}>{competitionData?.title}</Title>
				<p class="mx-auto max-w-2xl pt-8 text-base text-slate-500">
					<em>{competitionData?.description}</em>
				</p>
			</div>
			<div class="flex w-full flex-col items-center justify-center pt-12">
				<div class="flex flex-wrap justify-center gap-3">
					{
							competitionData?.tags?.map((tag: unknown) => (
								<li class="list-none">
									<Link
										href={`/tags/${tag?.title}`}
										size="md"
										style="outline"
									>
										{tag?.title}
									</Link>
								</li>
							))
					}
				</div>
				{
					competitionData?.cover && (
						<Image
							class="mt-12 w-full rounded-4xl lg:w-[60rem] lg:min-w-[50rem] lg:rounded-5xl"
							src={competitionData?.cover || "https://placehold.co/800x600"}
							alt={`Cover image for ${competitionData?.title}` || "Competition Cover"}
							inferSize={true}
						/>
					)
				}
				<Prose><slot /></Prose>
				<!-- <div
					class:list={[
						"prose mx-auto w-full max-w-3xl pt-12 text-lg text-slate-900 prose-headings:font-normal prose-headings:tracking-tighter prose-headings:text-black prose-a:text-slate-500 hover:prose-a:text-black prose-blockquote:border-l-slate-950 prose-blockquote:text-slate-500 prose-code:text-black prose-pre:rounded-3xl prose-li:marker:text-slate-500"
					]}>
					<div set:html={competitionData.htmlContent} />
				</div> -->

				<div class="mx-auto w-full max-w-3xl pt-20">
					<Share />
				</div>
			</div>
			{
				competitionData?.registrationStatus === "open" ? (
					<div class="fixed bottom-0 lg:bottom-4 right-9 lg:right-4 z-10 w-72 lg:mb-5 max-w-fit rounded-lg  border-dotted shadow-lg border border-gray-200 bg-blue-primary">
						<Link href="/register" class="mx-auto text-center text-white transition-all duration-300 hover:shadow-blue-400 animate-pulse" style="padding: 1.75rem; font-size: 1rem; color: white; border: none; border-radius: 6px; text-decoration: none;">
							Register Now 
							<Icon size={23} class="ms-3" name="mdi:login" />
						</Link>
					</div>
				) :
				(
					<div class="fixed bottom-0 lg:bottom-4 right-9 lg:right-4 z-10 w-72 lg:mb-5 max-w-fit rounded-lg border-dotted shadow-lg border border-gray-200 bg-red-500 cursor-not-allowed">
						<Link href="#" class="mx-auto text-center text-white transition-all duration-300 hover:shadow-gray-400" style="padding: 1.75rem; font-size: 1rem; color: gray; border: none; border-radius: 6px; text-decoration: none;">
							Registration Closed
						</Link>
					</div>
				)
			}
			
		</Container>
	</section>
</BaseLayout>
